/* Локальне підключення шрифтів */
/* @import url("fonts.css"); */
@import url("https://fonts.googleapis.com/css?family=Exo:700&display=swap");

/* Скидання стилів */
@import url("reset.css");

body {
	font-family: "Quicksand", sans-serif;
	color: #0d1216;
}

/* ================================================ */
/* ------------------верстка домашки--------------- */
/* ================================================ */


/* --------test---------------- */

.test-list__item-link:active {
	color: red;
}
.test-list__item-link:focus {
	color: blue;
}

.link:visited {
	color: green;
}
.target {
	background-color: #913b3b;
	padding: 15px;
	display: none;
}
.target:target {
	display: block;
}

.test-list li:first-child {
	text-transform: uppercase;
}
.test-list li:last-child {
	text-transform: uppercase;
}

.test-list li:last-of-type {
	text-transform: lowercase;
}

.test-list li:nth-child(2) {
	text-transform: uppercase;
}

.test-list__item:not(:last-child) {
	margin-bottom: 20px;
}

.test-list__item:nth-child(3) {
	color: rgba(255, 0, 0, 1);
}

.test-list__item:has(a) {
	background-color: #595555;
}


/* ------------Game------------------ */


.game-frame {
	border: #188328 dotted;
	max-width: 1000px;
	height: 100%;
	padding: 50px 50px;

}

.road {
	opacity: 0;
}

.game-road__1 {
	background: 
	linear-gradient(90deg, rgba(255, 0, 0, 1) 0%,
	rgba(66, 255, 0, 1) 50%,
	rgba(36, 0, 255, 1) 100%);
	width: 20px;
	height: 50px;
	margin-left: 15px;
	opacity: 1;
}

.game-road__2 {
	background:
	linear-gradient(90deg, rgba(255, 0, 0, 1) 0%,
	rgba(66, 255, 0, 1) 50%,
	rgba(36, 0, 255, 1) 100%);
	width: 70px;
	height: 20px;
	margin: -20px 0 0 20px;
	opacity: 0;
}

.game-road__2:hover {
	opacity: 1;
}

.game-road__3 {
	background:
	linear-gradient(90deg, rgba(255, 0, 0, 1) 0%,
	rgba(66, 255, 0, 1) 50%,
	rgba(36, 0, 255, 1) 100%);
	width: 20px;
	height: 70px;
	margin: -20px 0 0 70px;
	opacity: 0;
}

.game-road__3:hover {
	opacity: 1;
}

.game-road__4 {
	background:
	linear-gradient(90deg, rgba(255, 0, 0, 1) 0%,
	rgba(66, 255, 0, 1) 50%,
	rgba(36, 0, 255, 1) 100%);
	width: 300px;
	height: 20px;
	margin: -20px 0 0 70px;
	opacity: 0;
}

.game-road__4:hover {
	opacity: 1;
}

.game-road__5 {
	background:
	linear-gradient(90deg, rgba(255, 0, 0, 1) 0%,
	rgba(66, 255, 0, 1) 50%,
	rgba(36, 0, 255, 1) 100%);
	width: 20px;
	height: 300px;
	margin: -20px 0 0 350px;
	opacity: 0;
}
.game-road__5:hover {
	opacity: 1;
}

.game-road__6 {
	background:
	linear-gradient(90deg, rgba(255, 0, 0, 1) 0%,
	rgba(66, 255, 0, 1) 50%,
	rgba(36, 0, 255, 1) 100%);
	width: 250px;
	height: 10px;
	margin: -10px 0 0 350px;
	opacity: 0;
} 
.game-road__6:hover {
	opacity: 1;
}

.game-road__7 {
	background-color: red;
	text-align: center;
	text-transform: uppercase;
	width: 90px;
	height: 50px;
	margin: -30px 0 0 600px;
	opacity: 0;
}

.game-road__7:hover {
	opacity: 1;
}
/* ------------------------krovato-------------- */

[class*="__container"] {
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

.lounge__container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.lounge-title {
	font-family: "Proxima Nova", sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #2b2929;
	line-height: 1.2em;

	margin-bottom: 40px;
}

.lounge-picture {
	margin-bottom: 40px;
}

.picture {
	width: 100%;
}

.lounge-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875em;
	margin-bottom: 20px;
}

.lounge-text__introduction {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4em;

	padding: 15px 0;
	margin-bottom: 20px;
}

.lounge-furniture__item {
	padding-left: 30px;
	background: url(../img/mark.png) no-repeat;
}

.lounge-furniture__item:not(:last-child) {
	margin-bottom: 20px;
}

.lounge-furniture__img {
	margin-right: 10px;
}

.lounge-furniture__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875em;
	padding-left: 20px;
}

.lounge-text__conclusion {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875em;

	padding: 15px 0;
}

/* ----------------About me---------------------- */

.about-me {
	font-family: "Exo", sans-serif;
	color: #fff;
	background-image: 
	linear-gradient(-180deg, #000000e6 0, #000000fc 100%),
	url(../img/about-me-background.png);
	background-position: center;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 50px;
}

.about-me__title {
	font-size: 60px;
	font-weight: 700;
	line-height: 1.16em;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
	max-width: 400px;
	margin-bottom: 40px;
}

.about-me__title::after {
	display: block;
	content: "";
	height: 1px;
	margin-top: 15px;
	width: 100%;
	background: 
	linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, 
	rgba(66, 255, 0, 1) 50%, 
	rgba(36, 0, 255, 1) 100%);
}

.about-me__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 2.22em;
	text-transform: capitalize;
	text-align: center;
	max-width: 1024px;
	margin: 0 auto;
	padding-bottom: 75px;
}

.about-me__list {
	text-align: center;
	/* margin: 0 60px; */
}

.about-me__item {
	display: inline-block;
	margin-right: 55px;
}

.about-me__item::after {
	content: '';
	display: inline-block;
	background: 
	linear-gradient(90deg, rgba(255, 0, 0, 1) 0%,
	rgba(66, 255, 0, 1) 50%,
	rgba(36, 0, 255, 1) 100%);
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-left: 55px;
	
}

.about-me__item::after:not(:last-child) {
	margin: 0 39px;
}

.about-me__link {
	font-family: "Orbitron", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.25em;
	text-transform: capitalize;
}

/* -----------footer------------- */

.footer {
	background-color: #000;
	font-family: "Exo", sans-serif;
	color: #fff;
}

.footer-item {
	display: inline-block;
	padding: 20px 0;
}

.footer-item:not(:last-child) {
	margin-right: 60px;
}

.footer-item__phone::before {
	content: '';
	background: url(../img/footer-call.png) no-repeat 0 0;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.footer-item__location::before {
	content: '';
	background: url(../img/footer-location.png) no-repeat 0 0;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.footer-item__email::before {
	content: '';
	background: url(../img/footer-email.png) no-repeat 0 0;
	width: 20px;
	height: 16px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}
