/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

body {
	font-family: "Proxima Nova", "Quicksand", sans-serif;
	color: #0d1216;
}

/* ======================================================== */
/* --------------- CSS-властивості блоків ----------------- */
/* ======================================================== */


/* Відступи */
/* Відступи неочікувано працюють для рядкових об'єктів */
/* Відступи прийнято задавати для батьківського об'єкту */

/*
padding - Внутрішній відступ. 
Відступи ВСЕРЕДЕНІ об'єкту. 
Від кордонів об'єкту ДО ЙОГО КОНТЕНТУ
НЕ успадковується

Анатомія значення відступів:
- Цифрове значення + одиниця виміру (10px, 50%... і т.д.)
- Не може бути від'ємним
- При вказанні значення у відсотках
відсоток береться від ШИРИНИ батьківського об'єкту,
навіть для вертикальних відступів 

padding: з_усіх_сторін;
padding: зверху_знизу зправа_зліва;
padding: зверху зправа_зліва знизу;
padding: зверху зправа знизу зліва;
(годинникова стрілка)

padding-top: значення;
padding-right: значення;
padding-bottom: значення;
padding-left: значення;
*/


/*
margin - Зовнішній відступ.
Відступи ЗОВНІ об'єкту до інших об'єктів. 
НЕ успадковується

Особливості:
- Значення можуть бути від'ємними!
- Спрацьовує ефект "схлопування" 
	(накладання, колапс, згортання)

margin: з_усіх_сторін;
margin: зверху_знизу зправа_зліва;
margin: зверху зправа_зліва знизу;
margin: зверху зправа знизу зліва;

margin-top: значення;
margin-right: значення;
margin-bottom: значення;
margin-left: значення;
*/


/*
Ефект "схлопування" (накладання, колапс, згортання) margin.
Виникає коли зовнішній відступ заданий сусіднім об'єктам.

Значання відступу буде дорівнювати 
найбільшому з 2х значеннь.
Відступ margin прийнято задавати з ліва направо
та зверху вниз
*/


/*
	width - чітко задає ширину блочного (блочно-рядкового) 
	об'єкту.
	НЕ працює зі рядковими об'єктами
	width: значення;
	auto - (за замовченням) автоматичний розмір
	НЕ успадковується
*/
/*
	max-width 
	Встановлює максимальну ширину 
	блочних (блочно-рядкових) тегів 
	Властивість не успадковується 
	НЕ працює зі рядковими об'єктами
*/
/*
	min-width 
	Встановлює мінімальну ширину 
	блочних (блочно-рядкових) тегів 
	Властивість не успадковується 
	НЕ працює зі рядковими об'єктами
*/
/* 
	Значення у %
	% береться від ширини батьківського об'єкту
*/



/*
height 
Встановлює чітку висоту блочних (блочно-рядкових) тегів 
Властивість не успадковується 
НЕ працює зі рядковими об'єктами

min-height 
Встановлює мінімальну висоту 
блочних (блочно-рядкових) тегів 
Властивість не успадковується 
НЕ працює зі рядковими об'єктами

max-height 
Встановлює максимальну 
висоту блочних (блочно-рядкових) тегів 
Властивість не успадковується 
НЕ працює зі рядковими об'єктами
*/



/*
box-sizing
Застосовується для зміни алгоритму обчислення величин
content-box - (за замовченням) додає відступи
до розміру об'єкту
border-box - значення розмірів враховують відступи
*/



/*
	overflow 
	Керує відображенням контенту блочного елементу
	Властивість не успадковується
	visible - (за замовченням) Відображається усесь 
	контент елемента, навіть за межами встановлених розмірів
	hidden - Відображається тільки контент всередені елемента,
	clip - Майже теж саме що й hidden.
	все інше буде сховано
	scroll - Завжди додаються смужки прокрутки
	auto - Смужки прокрутки додаються лише за необхідністю

	Тільки вертикаль
	overflow-y: ; 
	Тільки горизонталь
	overflow-x: ;
*/



/*
vertical-align - Визначає вертикальне верівнювання 
блочно-рядкових або блочно-рядкових + рядкових об'єктів.
top
middle
bottom
*/



/*
	display
	Багатоцільова властивість яка задає 
	глобальні параметри тега. 
	Властивість не успадковується
	block - (за замовченням для блочних об'ектів) 
	Елемент відображається як блочний.
	inline - (за замовченням для рядкових об'ектів)  
	Елемент відображається як рядковий.
	inline-block - (блочно-рядковий) Елемент відображається як 
	рядковий але з можливістю 
	використання усіх CSS-властивостей.
	none - Елемент не виводиться в браузер. 
	Інші елементи займають його місце.
	Не приймає участь у обробці браузером.
*/



/* Центрування блоку */
/*
1) Об'єкт має бути блочним
2) Об'єкт має мати меньшу ширину за батьківський елемент
3) Додаємо margin: 0 auto;
*/

	/* 
	width: 90%;
	margin: 0 auto;
	 */



/* Відступ у першого рядка */

	/* text-indent: 20px; */




/* ==================================================== */
/* -----------------верстка домашки-------------------- */
/* ==================================================== */
[class*="__container"] {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* --------Krovato introduction section------- */

.introduction__container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.introduction-title {
	font-family: "Proxima Nova", sans-serif;
	font-size: 40px;
	font-weight: 400;
	color: #2b2929;
	line-height: 1.2em;
	text-align: center;

	margin-bottom: 40px;
}

.introduction-list {
	display: flex;
}

.introduction-item {
	margin-right: 15px;
}

.introduction-item__title {
	font-size: 26px;
	line-height: 1.3em;
	text-align: center;

	margin-bottom: 15px;
}
.introduction-item__text {
	font-size: 16px;
	line-height: 1.875em;
	text-align: center;
}

/* -------Lounge organisation section---------- */

.lounge__container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.lounge-title {
	font-family: "Proxima Nova", sans-serif;
	font-size: 40px;
	font-weight: 700;
	color: #2b2929;
	line-height: 1.2em;

	margin-bottom: 40px;
}

.lounge-picture {
	margin-bottom: 40px;
}

.lounge-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875em;

	margin-bottom: 20px;
}

.lounge-text__introduction {
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4em;

	padding: 15px 0;
	margin-bottom: 20px;
}

.lounge-furniture__item {
	margin-bottom: 20px;
	padding: 0 30px;
}

.lounge-furniture__text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875em;
}

.lounge-text__conclusion {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.875em;

	padding: 15px 0;
}

/* -------Ecommerce section---------- */

.ecommerce__container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.ecommerce-title {
	font-family: "Roboto", sans-serif;
	color: #000;
	font-size: 50px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	line-height: 1.2em;
	text-align: center;

	margin-bottom: 40px;
}

.ecommerce-list {
	display: flex;
}

.ecommerce-item {
	margin-right: 20px;
}

/* ---------Ecommerce section training--------*/

.ecommerce-training__container {
	max-width: 1000px;
	max-height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.ecommerce-title__training {
	font-family: "Roboto", sans-serif;
	color: #000;
	font-size: 50px;
	font-weight: 500;
	line-height: 1.2em;
	text-align: center;

	margin-bottom: 40px;
}

.ecommerce-list__training {
	display: flex;
}
.ecommerce-item__training {
	margin-right: 20px;
}

/* --------------------- */

.box__container {
	box-sizing: border-box;
	overflow: scroll;
}
.box-list {
	padding: 35px 35px 35px 35px;
}

.box-item__object {
	width: 200px;
	height: 200px;
	margin: 10px 10px 10px 10px;
	background-color: green;
}

.link {
	vertical-align: -60px;
}